Flight delays can be caused by a variety of factors, including weather, air traffic control issues, and mechanical problems. <br>Understanding these factors is crucial for developing strategies to mitigate delays and improve overall efficiency in air travel.

Import the necessary libraries:

In [1]:
import pandas as pd
import numpy as np

Read the dataset:

In [2]:
df = pd.read_csv('./flight_data_2024_sample.csv')

Explore the dataset:

In [3]:
df.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2024,4,18,4,2024-04-18,MQ,3535.0,DFW,"Dallas/Fort Worth, TX",Texas,...,0,151.0,144.0,119.0,835.0,0,0,0,0,0
1,2024,1,1,1,2024-01-01,AA,148.0,CLT,"Charlotte, NC",North Carolina,...,0,286.0,273.0,253.0,1773.0,0,0,0,0,0
2,2024,12,12,4,2024-12-12,9E,5440.0,CHA,"Chattanooga, TN",Tennessee,...,0,59.0,50.0,29.0,106.0,0,0,0,0,0
3,2024,4,8,1,2024-04-08,WN,1971.0,OMA,"Omaha, NE",Nebraska,...,0,180.0,177.0,163.0,1099.0,0,0,0,0,0
4,2024,2,16,5,2024-02-16,WN,862.0,BWI,"Baltimore, MD",Maryland,...,0,90.0,96.0,76.0,399.0,0,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 10000 non-null  int64
 1   month                10000 non-null  int64
 2   day_of_month         10000 non-null  int64
 3   day_of_week          10000 non-null  int64
 4   fl_date              10000 non-null  object
 5   op_unique_carrier    10000 non-null  object
 6   op_carrier_fl_num    10000 non-null  float64
 7   origin               10000 non-null  object
 8   origin_city_name     10000 non-null  object
 9   origin_state_nm      10000 non-null  object
 10  dest                 10000 non-null  object
 11  dest_city_name       10000 non-null  object
 12  dest_state_nm        10000 non-null  object
 13  crs_dep_time         10000 non-null  int64
 14  dep_time             9884 non-null   float64
 15  dep_delay            9884 non-null   float64
 16  taxi_out             9880 non-null   float64
 17  wheels_off           9880 non-null   float64
 18  wheels_on            9873 non-null   float64
 19  taxi_in              9873 non-null   float64
 20  crs_arr_time         10000 non-null  int64
 21  arr_time             9873 non-null   float64
 22  arr_delay            9836 non-null   float64
 23  cancelled            10000 non-null  int64
 24  cancellation_code    122 non-null    object
 25  diverted             10000 non-null  int64
 26  crs_elapsed_time     10000 non-null  float64
 27  actual_elapsed_time  9836 non-null   float64
 28  air_time             9836 non-null   float64
 29  distance             10000 non-null  float64
 30  carrier_delay        10000 non-null  int64
 31  weather_delay        10000 non-null  int64
 32  nas_delay            10000 non-null  int64
 33  security_delay       10000 non-null  int64
 34  late_aircraft_delay  10000 non-null  int64
dtypes: float64(13), int64(13), object(9)
memory usage: 2.7+ MB

In [5]:
df.isnull().sum()

year                      0
month                     0
day_of_month              0
day_of_week               0
fl_date                   0
op_unique_carrier         0
op_carrier_fl_num         0
origin                    0
origin_city_name          0
origin_state_nm           0
dest                      0
dest_city_name            0
dest_state_nm             0
crs_dep_time              0
dep_time                116
dep_delay               116
taxi_out                120
wheels_off              120
wheels_on               127
taxi_in                 127
crs_arr_time              0
arr_time                127
arr_delay               164
cancelled                 0
cancellation_code      9878
diverted                  0
crs_elapsed_time          0
actual_elapsed_time     164
air_time                164
distance                  0
carrier_delay             0
weather_delay             0
nas_delay                 0
security_delay            0
late_aircraft_delay       0
dtype: int64

Drop the nulls from the dataset:

In [7]:
df_cleaned = df.fillna(0)

In [ ]:
df_cleaned.isnull().sum()

year                   0
month                  0
day_of_month           0
day_of_week            0
fl_date                0
op_unique_carrier      0
op_carrier_fl_num      0
origin                 0
origin_city_name       0
origin_state_nm        0
dest                   0
dest_city_name         0
dest_state_nm          0
crs_dep_time           0
dep_time               0
dep_delay              0
taxi_out               0
wheels_off             0
wheels_on              0
taxi_in                0
crs_arr_time           0
arr_time               0
arr_delay              0
cancelled              0
cancellation_code      0
diverted               0
crs_elapsed_time       0
actual_elapsed_time    0
air_time               0
distance               0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
dtype: int64

In [8]:
df_cleaned.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2024,4,18,4,2024-04-18,MQ,3535.0,DFW,"Dallas/Fort Worth, TX",Texas,...,0,151.0,144.0,119.0,835.0,0,0,0,0,0
1,2024,1,1,1,2024-01-01,AA,148.0,CLT,"Charlotte, NC",North Carolina,...,0,286.0,273.0,253.0,1773.0,0,0,0,0,0
2,2024,12,12,4,2024-12-12,9E,5440.0,CHA,"Chattanooga, TN",Tennessee,...,0,59.0,50.0,29.0,106.0,0,0,0,0,0
3,2024,4,8,1,2024-04-08,WN,1971.0,OMA,"Omaha, NE",Nebraska,...,0,180.0,177.0,163.0,1099.0,0,0,0,0,0
4,2024,2,16,5,2024-02-16,WN,862.0,BWI,"Baltimore, MD",Maryland,...,0,90.0,96.0,76.0,399.0,0,0,0,0,0

Filter the dataset for flights that were delayed by more than 30 minutes:

In [13]:
df_delayed_mean = df_cleaned.groupby('day_of_week')['arr_delay'].mean().reset_index()
print(df_delayed_mean)

   day_of_week  arr_delay
0            1   6.320051
1            2   3.039286
2            3   4.560182
3            4   8.710696
4            5   9.820671
5            6   9.410769
6            7   9.928369

In [10]:
df_delayed.head()

,year,month,day_of_month,day_of_week,fl_date,op_unique_carrier,op_carrier_fl_num,origin,origin_city_name,origin_state_nm,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
10,2024,9,19,4,2024-09-19,G4,1510.0,DSM,"Des Moines, IA",Iowa,...,0,126.0,115.0,96.0,813.0,0,0,0,0,36
11,2024,3,28,4,2024-03-28,AA,2050.0,MIA,"Miami, FL",Florida,...,0,178.0,190.0,137.0,1096.0,19,0,12,0,17
27,2024,9,21,6,2024-09-21,OO,4108.0,LAX,"Los Angeles, CA",California,...,0,121.0,115.0,84.0,677.0,43,0,0,0,0
29,2024,7,28,7,2024-07-28,WN,2532.0,MCO,"Orlando, FL",Florida,...,0,250.0,220.0,196.0,1546.0,0,105,0,0,0
32,2024,12,21,6,2024-12-21,WN,2584.0,HOU,"Houston, TX",Texas,...,0,120.0,115.0,100.0,816.0,14,0,0,0,64

Filter df_delayed by weekday:

In [ ]:
df_delayed['day_of_week'] = pd.to_datetime(df_delayed['fl_date']).dt.day_name()
df_delayed['day_of_week'].value_counts()

Series([], Name: count, dtype: int64)